@model Digieat.Negocio.Reserva

@{
    ViewBag.Title = "Reservación";
}

<center>
    <div class="table-active col-md-8 rounded-5 container" style="background-image: linear-gradient(#b20f3d, #222222); padding-top:2rem; padding-bottom: 1rem;">
        <span class="text-white font-weight-bold" style="font-family: Poppins-Bold; font-size: 30px; color: #333333; line-height: 1.2; text-align: center; width: 100%; display: block; padding-bottom: 20px;">
            RESERVA UNA MESA EN NUESTRO LOCAL
        </span>

        @{
            var cantidad = new List<SelectListItem>() {
            new SelectListItem(){
                    Text = "1",
                    Value = "1"
                },
            new SelectListItem() {
                Text = "2",
                Value = "2",
            },
             new SelectListItem() {
                Text = "3",
                Value = "3",
            },
              new SelectListItem() {
                Text = "4",
                Value = "4",
            },
               new SelectListItem() {
                Text = "5",
                Value = "5",
            },
                new SelectListItem() {
                Text = "6",
                Value = "6",
            },
                 new SelectListItem() {
                Text = "7",
                Value = "7",
            },
                  new SelectListItem() {
                Text = "8",
                Value = "8",
            },
                   new SelectListItem() {
                Text = "9",
                Value = "9",
            },
                    new SelectListItem() {
                Text = "10",
                Value = "10",
            }

 };

        }

        @using (Html.BeginForm())
        {

            //@Html.TextBoxFor(re => re.NUM_RESERVA)
            <br />
            @Html.LabelFor(model => model.FECHA, htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold" })
            <div class="col-md-12">
                @Html.EditorFor(re => re.FECHA, new { htmlAttributes = new { @type = "date", @class = "form-control col-md-5" } })
                @Html.ValidationMessageFor(re => re.FECHA, "", new { @type = "date", @class = "text-danger" })
            </div>
            //@Html.TextBoxFor(re => re.FECHA)
            <br />
            // @Html.TextBoxFor(re => re.HORA)
            @Html.LabelFor(model => model.HORA, htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.HORA, new { htmlAttributes = new { @class = "form-control col-md-5" } })
                @Html.ValidationMessageFor(model => model.HORA, "", new { @class = "text-danger" })
            </div>
            <br />
            @Html.LabelFor(model => model.CLIENTE_RUT, htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold" })
            <div class="col-md-12">

                @Html.TextBoxFor(re => re.CLIENTE_RUT, htmlAttributes: new { @class = "form-control col-md-5" })
            </div>
            <br />
            // @Html.TextBoxFor(re => re.CANTIDAD_PERSONAS)

            @Html.LabelFor(model => model.CANTIDAD_PERSONAS, htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold" })
            @Html.DropDownListFor(model => model.CANTIDAD_PERSONAS, cantidad, htmlAttributes: new { @class = "col-md-2" })
            <hr />
            <button class="bg-success text-white text-center font-weight-bold" style="padding-bottom:0.5rem; padding-left:0.5rem; padding-right:0.5rem; padding-top:0.3rem; margin-bottom:0.5rem;"><i class="fa-solid fa-calendar-days"></i> Crear una Reservación</button>
        }
    </div>
</center>