@model Digieat.Negocio.Reserva

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@{
    var cantidad = new List<SelectListItem>() {
            new SelectListItem(){
                    Text = "1",
                    Value = "1"
                },
            new SelectListItem() {
                Text = "2",
                Value = "2",
            }
        };
}
@using (Html.BeginForm())
{
    @Html.TextBoxFor(re => re.NUM_RESERVA)
    <br />
    @Html.TextBoxFor(re => re.FECHA)
    <br />
    @Html.TextBoxFor(re => re.HORA)
    <br />
    @Html.TextBoxFor(re => re.CLIENTE_RUT)
    <br />
    @Html.TextBoxFor(re => re.CANTIDAD_PERSONAS)

    <button>Guardar</button>

}
