@using Digieat.Negocio

@{
    ViewBag.Title = "LaCarta";
}

@{ List<Cliente> clientes = (List<Cliente>)ViewBag.clientes;}

<table class="text-white">
    <tr>
        <th>RUT</th>
        <th>Nombre</th>
        <th>Ap pat</th>
        <th>Ap mat</th>
        <th>tel</th>
        <th>correo</th>
        <th>contraseña</th>
        <th>estado cuenta</th>
    </tr>
    @if (Model != null)
    {
        foreach (var cliente in clientes)
        {
            <tr>
                <td>@cliente.rut_cliente</td>
                <td>@cliente.nombre</td>
                <td>@cliente.apellido_pat</td>
                <td>@cliente.apellido_mat</td>
                <td>@cliente.telefono</td>
                <td>@cliente.correo</td>
                <td>@cliente.contrasena</td>
                <td>@cliente.estado_cuenta</td>
            </tr>
        }
    }
</table>