<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Home Restaurante Siglo XXI</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/font-awesome-4.7.0/css/font-awesome.min.css" /> <!--ESTE ES EL FONT AWESOME-->
    <link href="~/lib/twitter-bootstrap/css/personal/personalizado.css" rel="stylesheet" type="text/css" />
</head>
<body style="color: white" class="background">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" DigiEat", "Index", "Home", new { area = "" }, new { @class = "navbar-brand fa fa-cutlery" })
            </div>

            @* Menu Bootstrap *@
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <!--<a class="navbar-brand" href="#">Navbar</a>-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" @Html.ActionLink("Inicio", "Index", "Home")></a>
                        </li>
                        <!--<li class="nav-item">
         <a class="nav-link" href="#">Menú</a>
    </li>-->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink("Cerrar Sesion Cliente", "Logout", "Auth", null, new { @class = "nav-link" })
                            </li>
                        }
                        else
                        {

                            <li class="nav-item">
                                @Html.ActionLink(" Ingreso Cliente", "Index", "Cliente", null, new { @class = "nav-link fa fa-user-circle" })
                            </li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink("Cerrar Sesion Empleado", "Logout", "Empleado", null, new { @class = "nav-link" })
                            </li>
                        }
                        else
                        {

                            <li class="nav-item">
                                @Html.ActionLink(" Ingreso Empleado", "Empleado", "Empleado", null, new { @class = "nav-link fa fa-users" })
                            </li>
                        }
                    </ul>
                </div>
            </nav>
            @* Menu Bootstrap *@
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Portafolio de titulo</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

