@model Digieat.Negocio.Cliente
@{
    ViewBag.Title = "Login";
}

<h2>Ingresa tus credenciales</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(c=>c.correo, "Correo Electrónico")
    @Html.TextBoxFor(c=>c.correo, new { type = "email" })
    <br />
    @Html.LabelFor(c=>c.contrasena, "Contraseña")
    @Html.PasswordFor(c=>c.contrasena)
    <br />

    <button>Ingresar </button>
}

@TempData["mensaje"]